#header {
	height: 100%;
	background-position: center;
	background-position: fixed;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.landingNav {
	width: 85%;
	background-color: #ffffff;
	border-radius: 2em;
	margin: 20px auto;
}

.tab-content {
	background-color: #ffffff;
	opacity: 0.6;
	border-radius: 3em;
	margin: 25px auto;
    height: 75%;
}

.tab-content p {
	margin: 35px;
	font-weight: 600px;
	font-size: 16px;
	font-style: "Comic Sans MS", cursive, sans-serif;
}

.tab-content h3 {
	font-style: "Comic Sans MS", cursive, sans-serif;
	font-weight: Bold;
	padding-top: 35px;
	margin-left: 35px;
	font-weight: 600px;
	font-size: 16px;
}

#content {
	background-color: #CFE0E8;
    height: 100%;
}

.jumbotron {
  text-align: center;
	border-radius: 3em !important;
	height: 100%;
	max-width: 75%;
	background: contain;
	margin: 0 auto;
}

.container {
	padding-top: 15px;
}

.country {
	text-align: center;
}

.country a {
	margin: 10px auto;
}

.navbar .navbar-collapse {
	text-align: center !important;
}

.qa-top-page {
	background-color: #d7d7d7;
	height: 160px;
}

#contentQA {
	background-color: #CFE0E8;
	height: 100%;
}

#QALogo img {
	height: 130px;
	width: 150px;
	margin: 20px;
}

.footer {
    width: 100%;
    background-color: #000;
    height: 120px;
    padding-bottom: 10px;
    bottom:0;
}

.footer img {
	margin-bottom: 8px;
}

.footer  a:hover{
	color: #fff;
	text-decoration: none;
}

.footer a {
	color: #5E6C7D;
}

.footer-items {
	margin-top: 30px;
}

.center {
	margin: 5px auto;
	text-align: center;
}

hr {
	max-width: 75%;
	background-color: #99caff;
	border-radius: 1em;
}

.dropdown-item {
	color: #007BFF;
}

.dropdown-item:hover {
	color: #fff;
	background-color: #007BFF;
}

.tab-content h3 {
	color: #000;
	font-family: 'GlacialIndifferenceRegular';
	font-size:22px;
}

#lifeAtContent {
	padding-top: 5px;
	margin: 0 10px;
}

.active {
	display: block !important;
}

											/** Beginning of slideshow **/
* {box-sizing:border-box}

#slideImg {
	display: none;
	padding-top: 5px; 
}

/* Slideshow container */
.slideshow-container {
	max-width: 100%;
	height: 300px;
	position: relative;
	margin: 0 auto; 
	background-color: #3C3C3C;
}

.mySlides {
	text-align: center;
	max-height: 290px;
	
}

.mySlides img {
	border-radius: 2em;
	width: 95%; 
	height: 285px;
    margin-top: 5px;
}


/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #fff !important;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
}

/* Position the "next button" to the right */
.next {
  right: 0;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  color: #000 !important;
}

.imgCaption {
	font-weight: 650;
	background-color: #d7d7d7;
	border-radius: 3em;
	max-width: 50%;
	opacity: 0.7;
	font-size: 15px;
	padding: 6px 8px;
	position: absolute;
	bottom: 8px;
    left: 40%;
    right:40%
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dots-section {
  position: absolute;
  top:2%;
  left: 48%;
}
/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dot-active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2.5s;
  animation-name: fade;
  animation-duration: 2.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@media only screen and (max-width: 300px) {
  .imgCaption {font-size: 11px}
}
											/** End of slideshow **/

#content1 {
	margin: 25px;
}

#leftContent {
	text-align: center;	
}

#rightContent {
	text-align: center;
}

.textContent {
	margin-top: 25px;
	border-radius: 2em;
	max-width: 95%;
	background: linear-gradient(to top left, #ffffff 0%, #ccccff 100%);
}

.textContent p {
	margin: 15px;
	font-weight: 600;
	
}

.mediaContent {
	border-radius: 11em;
	background: linear-gradient(to top right, #33ccff 0%, #ff99cc 100%);
	cursor: pointer;
}

.mediaContent:hover {
	background: linear-gradient(to bottom left, #33ccff 0%, #ff99cc 100%);
	opacity: 0.9;
}

.mediaContent img {
	border-radius: 2em;
	width: 90%;
	margin: 10px;
}

@media all and (min-width: 1024px) and (max-width:1300px) {
	}

@media all and (min-width: 720px) and (max-width:1023px) {
  .slideshow-container {
	  position: relative;
	  margin: 0 auto;
}

	.mySlides img {
	width: 85%;
	height: 275px;
    margin-top: 10px;
}
  
  .imgCaption {
    font-size: 10px;
    bottom: 12px;
    right:30%;
    left: 30%  
  }
  
  .dots-section {
    top: 4%;
    left:48%;
  }
   .jumbotron {
       max-width: 90%;
  }
  .country a {
       width: 65%;
  }
  	}

@media all and (min-width: 500px) and (max-width:719px) {
  .slideshow-container {
	  position: relative;
	  margin: 0 auto;
}

	.mySlides img {
	width: 85%;
	height: 275px;
    margin-top: 10px;
}
  
  .imgCaption {
    font-size: 10px;
    bottom: 12px;
    right:30%;
    left: 30%  
  }
  
  .dots-section {
    top: 4%;
    left:47%;
  }
   .jumbotron {
       max-width: 90%;
  }
  .country a {
       width: 65%;
  }
	}

@media all and (max-width:499px) and (min-width:421px){ 
	.slideshow-container {
	  position: relative;
	  margin: 0 auto;
}

	.mySlides img {
	width: 85%;
	height: 275px;
    margin-top: 10px;
}
  
  .imgCaption {
    font-size: 10px;
    bottom: 12px;
    right:30%;
    left: 30%  
  }
  
  .dots-section {
    top: 4%;
    left:45%;
  }
   .jumbotron {
       max-width: 90%;
  }
  .country a {
       width: 65%;
  }
	}

@media all and (max-width:420px) and (min-width:371px){
  
	.slideshow-container {
	  position: relative;
	  margin: 0 auto;
}

	.mySlides img {
	width: 85%;
	height: 275px;
    margin-top: 10px;
}
  
  .imgCaption {
    font-size: 10px;
    bottom: 12px;
    right:30%;
    left: 30%  
  }
  
  .dots-section {
    top: 4%;
    left:45%;
  }
   .jumbotron {
       max-width: 90%;
  }
  .country a {
       width: 65%;
  }
	}

@media all and (max-width:370px){
	.slideshow-container {
	  position: relative;
	  margin: 0 auto;
}

	.mySlides img {
	width: 85%;
	height: 275px;
    margin-top: 10px;
}
  
  .imgCaption {
    font-size: 10px;
    bottom: 12px;
    right:30%;
    left: 30%  
  }
  
  .dots-section {
    top: 4%;
    left:45%;
  }
   .jumbotron {
       max-width: 90%;
  }
  .country a {
       width: 65%;
  }
	}